.del {
    background: #FB8B8A;
    color: #fff;
    border: none;
    padding: 5px 9px;
    border-radius: 50%;
    cursor: pointer;
    float: right;
}

.todo {
    background: rgb(255, 255, 255);
    padding: 10px;
    border-bottom: 1px #ccc dotted;
    /* max-width: 600px; */

}


.is-complete {
    text-decoration: line-through;
}